                      .sidenav-wrapper {
                          position: fixed;
                          top: 0;
                          left: 0;
                          opacity: 0;
                          transition: opacity 0.8s var(--easeInEaseOutCubic);
                          transform: translateX(0);
                          z-index: 10;
                      }

.sidenav-wrapper.hide {
    opacity: 0;
    transform: translateX(-100%);
}

.sidenav-wrapper.show {
    opacity: 1;
}

.sidenav-wrapper.show .sidenav-bg {
    transform: translateX(0);
}

.sidenav-list-wrapper {
    transform: translateX(-100%);
    transition: transform 0.8s var(--easeInEaseOutCubic);
}

.sidenav-list-wrapper.show {
    transform: translateX(0);
}

.sidenav-list.sidenav-list-submenu,
.sidenav-list.sidenav-list-pdpmenu {
    max-height: 50vh;
    overflow: hidden;
    transform: translate(-100%, 0);
}

.sidenav-list.sidenav-list-submenu.show,
.sidenav-list.sidenav-list-pdpmenu.show {
    max-height: none;
    overflow: initial;
    transform: translate(0, 0);
}

.sidenav-list-item {
    opacity: 0;
    transform: translateX(-150%);
    transition: transform 1s var(--easeInEaseOutCubic), opacity 1s var(--easeInEaseOutCubic);
}

.sidenav-list-submenu .sidenav-list-item {
    transform: translateX(-150%);
    transition: transform 1s var(--easeInEaseOutCubic), opacity 1s var(--easeInEaseOutCubic);
}

.sidenav-list-item.show {
    opacity: 1;
    transform: translateX(0);
}

.sidenav-image {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.2s var(--easeInEaseOutCubic);
    z-index: 10;
}

.sidenav-image.show {
    opacity: 1;
    z-index: 2;
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .sidenav-list-item {
        padding-bottom: 0.5rem;
    }
}

#pageHome .text-sidenav[data-id="home"],
#pageMasterpieces .text-sidenav[data-id="masterpieces"],
#pageOurStory .text-sidenav[data-id="our-story"],
#pageSalesGallery .text-sidenav[data-id="sales-gallery"],
#pageOmniyatBespoke .text-sidenav[data-id="omniyat-bespoke"],
#pageNews .text-sidenav[data-id="news"],
#greenBond .text-sidenav[data-id="green-bond"],
#investorRelations .text-sidenav[data-id="investorRelations"],
#pageContact .text-sidenav[data-id="contact"],
#pageTheAlba .text-sidenav[data-id="the-alba"],
#pageOrlaInfinity .text-sidenav[data-id="orla-infinity"],
#pageVela .text-sidenav[data-id="vela"],
#pageVelaViento .text-sidenav[data-id="vela-viento"],
#pageOrla .text-sidenav[data-id="orla"],
#pageAva .text-sidenav[data-id="ava"],
#pageOneAtPalm .text-sidenav[data-id="one-at-palm"],
#pageLana .text-sidenav[data-id="lana"],
#pageOpus .text-sidenav[data-id="opus"],
#pageAnwa .text-sidenav[data-id="anwa"],
#pageAnwaAria .text-sidenav[data-id="anwa-aria"],
#pageEnara .text-sidenav[data-id="enara"],
#pageSterling .text-sidenav[data-id="sterling"],
#pageBinary .text-sidenav[data-id="binary"],
#pageOne .text-sidenav[data-id="one"],
#pageBayswater .text-sidenav[data-id="bayswater"],
#pageLumena .text-sidenav[data-id="lumena"],
#pageMarasiBay .text-sidenav[data-id="marasibay"],
    /*#pageOmniyatAtelier .text-sidenav[data-id="omniyat-atelier"],*/
#pageOrlaInfinity .text-sidenav[data-id="masterpieces"],
#pageVela .text-sidenav[data-id="masterpieces"],
#pageOrla .text-sidenav[data-id="masterpieces"],
#pageAva .text-sidenav[data-id="masterpieces"],
#pageOneAtPalm .text-sidenav[data-id="masterpieces"],
#pageLana .text-sidenav[data-id="masterpieces"],
#pageOpus .text-sidenav[data-id="masterpieces"],
#pageAnwa .text-sidenav[data-id="masterpieces"],
#pageAnwaAria .text-sidenav[data-id="masterpieces"],
#pageSterling .text-sidenav[data-id="masterpieces"],
#pageVelaViento .text-sidenav[data-id="masterpieces"],
#pageEnara .text-sidenav[data-id="masterpieces"],
#pageBinary .text-sidenav[data-id="masterpieces"],
#pageOne .text-sidenav[data-id="masterpieces"],
#pageBayswater .text-sidenav[data-id="masterpieces"] {
    color: #ffffff;
}
